/*
orange = #FFA500
deeppink = #FF1493
yellowgreen = #9ACD32
goldenrod = #DAA520
skyblue = #87CEEB

chartreuse = #7FFF00
magenta = #FF00FF
dodgerblue = #1E90FF
gold = #FFD700
white = doy
*/

html, body {
	height: 100%;
}

body {
	background-color: burlywood;
}

body * {
/*	font-family: 'Pangolin';*/
}


:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--system-ui);
  background-color: darkolivegreen;
}

a {
	color: black;
	text-decoration: none;
}

.cheeseHouse {
	background: moccasin;
	border-left: 3px solid lightseagreen;
	border-right: 3px solid lightseagreen;
	border-right: 3px solid lightseagreen;
	margin: 0 auto;
	width: 1024px;
	position: relative;
}

.agedCheddar {
	width: 100%;
}

.thePoupster {
    width: 100%;
    height: 100%;
    background: skyblue url("/img/kitties/birdback.jpg");
}

.grass {
    width: 100%;
    height: 100%;
    background: chartreuse url("/img/kitties/spudalback.jpg");
    padding: 36px;
}

.grass img {
    display: block;
    margin: 24px auto;
}

.frazurbluuFeed {
	float: right;
	width: 500px;
	font-size: 15px;
	margin: 12px;
}

.frazurbluuFeed .filters {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: lemonchiffon;
	border-radius: 8px;
	padding: 0 16px;
}

.frazurbluuFeed .filters h2 {
	font-size: 20px;
	font-weight: bold;
}

.frazurbluuFeed .filters a {
	border-radius: 9px;
	margin: 8px;
	font-weight: 600;
	background-color: yellowgreen;
	padding: 9px;
}

.frazurbluuFeed .post {
	margin-top: 16px;
}

.frazurbluuFeed .header {
	display: flex;
	gap: 12px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.frazurbluuFeed .header .h1 {
	font-size: 15px;
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.frazurbluuFeed .header .ikon {
	flex-basis: auto;
}

.frazurbluuFeed .header .ikon img {
	display: block;
	border-radius: 50%;
	height: 40px;
	width: 40px;
}

.frazurbluuFeed .header .headerInfo {
	flex-basis: 370px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3px;
}

.frazurbluuFeed .header .headerDetails {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: 6px;
	font-size: 13px;
}

.frazurbluuFeed .body {
	line-height: 20px;
}

.frazurbluuFeed .body .options {
	color: black;
	text-decoration: none;
}

.frazurbluuFeed .body .message {
	padding: 12px 0;
}

.frazurbluuFeed .body img {
	width: 500px;
	margin: 6px 0;
}

.frazurbluuFeed .sharing .reactions img {
	height: 18px;
	width: 18px;
}

.footer {
	background-color: lightsalmon;
	width: 100%;
}

.footer .mistrMouse {
}

