/*
orange = #FFA500
deeppink = #FF1493
yellowgreen = #9ACD32
goldenrod = #DAA520
skyblue = #87CEEB

chartreuse = #7FFF00
magenta = #FF00FF
dodgerblue = #1E90FF
gold = #FFD700
white = doy
*/

html, body {
}

body {
	background-color: black;
	height: 100%;
}
.thePoupster {
    width: 100%;
    height: 100%;
    background: skyblue url("/img/kitties/birdback.jpg");
}

.grass {
    width: 100%;
    height: 100%;
    background: chartreuse url("/img/kitties/spudalback.jpg");
    padding: 36px;
}

.grass img {
    display: block;
    margin: 24px auto;
}

.pointOfKnowReturn {
	vertical-align: middle;
	margin: 0 auto;
	text-align: center;
	color: white;
	width: 100%;
	max-width: 377px;
	height: 100%;
	background-color: firebrick;
}

.pointOfKnowReturn a {
	width: inherit;
	text-align: center;
	display: inline-block;
}

.pointOfKnowReturn img {
	width: inherit;
}

.pointOfKnowReturn audio {
	margin: 24px 0;
}

.pointOfKnowReturn h1,
.pointOfKnowReturn h2,
.pointOfKnowReturn h3 {
	margin: 24px 0;
	font-size: 18px;
	height: 36px;
}

.pointOfKnowReturn {
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 600;
	font-style: normal;
}
